@page
@model PrivacyModel
@{
    ViewData["Title"] = "Riêng tư & Bảo mật";
}
<h1>@ViewData["Title"]</h1>

<p>Xin chào trang web này do nhóm LT2DEV dựng nên, bất kì lỗi hay nhưng góp ý do cá nhân nào đưa ra có thể liên hệ chúng tôi qua email quản trị viên lktin.dev@gmail.com</p>
